
.menu-word {
  display: none;
  opacity: 0;
  border-radius: 1rem;
  border: solid 1px var(--border-primary);
  padding: .5rem;
  width: 100%;
  transition: 500ms;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
}

.menu-word__header {
  display: flex;
  flex-direction: row;
}

.menu-word__header--response-box {
  padding: .5px 0 .5px .9rem;
  font-size: .8rem;
  height: 15px;
  width: 100%;
}

.menu-word__header--success {
  color: var(--green);
}

.menu-word__header--invalid {
  color: var(--red);
}

.menu-word__header--action-box {
  display: flex;
  justify-content: end;
  width: 50%;
  margin: 0  0 5px 0;
}

.menu-word__header--button-info {
  height: 20px;
  width: 40px;
  color: var(--font-primary);
  border-radius: 1rem;
  border: solid 1px var(--border-primary);
  background: var(--bg);
}

.menu-word__header--button-exit {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  color: var(--red);
  border: solid 1px var(--red);
  background: var(--bg);
  border-radius: 1rem;
}

.menu-word__input {
  padding: 1rem;
  width: 100%;
  height: 3rem;
  border-radius: 1rem 1rem 0 0;
  background: var(--bg-secundary);
  color: var(--font-primary);
  outline: none;
  border: solid 1px var(--border-primary);
}

.menu-word__input:focus {
  border: 2px solid #8257e5;
  transition: 100ms;
}

.menu-word__info {
  display: none;
  padding: .5rem 1rem .5rem 1rem;
  border: 1px solid var(--border-primary);
  border-top: 0;
  border-bottom: 0;
  background: var(--bg-secundary);
}

.menu-word__info--list {
  opacity: 0;
  padding-left: 1rem;
  color: var(--font-primary);
  transition: 500ms;
}

.menu-word__info--title {
  font-size: .8rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.menu-word__info--item {
  font-size: .9rem;
}

.menu-word__info--click {
  margin-top: .5rem;
  color: var(--font-secundary);
  text-align: center;
}

.menu-word__button-box {
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.menu-word__button-box--save-word {
  border: 0;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  color: var(--font-tertiary);
  background: var(--blue);
}