
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #6b1010;
  --blue: #0A3871; 
  --green: #04D361;
  --black-g: #121214; 
  --border-primary: #0A3871;
  --border-secundary: #121214;
  --font-tertiary: #E5E5E5;
}

body.light {
  --bg: #E5E5E5;
  --bg-secundary: #fff;

  --font-primary: #0A3871;
  --font-secundary: #121214;

  --disabled: #12121423;

  --black: #121214;
}

body.dark {
  --bg: #121214;
  --bg-secundary: rgba(34, 34, 34, 0.37);
  
  --font-primary: #E5E5E5;
  --font-secundary: #E5E5E5;
  
  --disabled: #979ea713;
  
  --black: #E5E5E5;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
}

main {
  position: relative;
  height: 94vh;
  overflow: none;
}

button {
  cursor: pointer;
  transition: 500ms;
}

button:disabled {
  opacity: .5;
  background: var(--disabled);
  border-color: var(--border-secundary);
  color: var(--font-secundary);
  cursor: context-menu;
  transition: 500ms;
}

button:active {
  border: solid 1px var(--border-secundary);
  color: var(--black-g);
  background: var(--green);
}

button:hover {
  filter: brightness(1.6)
}

.container {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  min-width: 280px;
}

.wrap {

  max-width: 1140px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.event {
  opacity: 0;
  transition: 500ms;
}
