.game__control-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__control-box--keyboard {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 4px;
  padding: 0.4rem;
  width: 100%;
  max-width: 30rem;
  min-height: 7rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.game__control-box--keyboard-button {
  padding: .5rem;
  border-radius: .5rem;
  background:var(--bg) ;
  border: 1px solid var(--border-primary);
  color: var(--font-primary);
}

body.dark .game__control-box--keyboard-button:hover {
  border-color: #fff;
}

body.light .game__control-box--keyboard-button:hover {
  color: #000;
  border-color: #000;
}

.game__control-box--response {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  margin: 0 .5rem 0 .5rem;
  border-radius: 1rem;
  min-width: 150px;
  border: 3px solid var(--border-primary);
  background: var(--bg);
}

.game__control-box--buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 67px;
  width: 100%;
}

.game__control-box--buttons button {
  margin: .5rem;
  border-radius: 1rem;
  height: 3rem;
  width: 14rem;
}

.game__control-box--buttons button:hover {
  transform: scale(1.01);
}

.game__control-box--button-reset {
  border: 0;
  background: var(--blue);
  color: var(--font-tertiary);
}

.game__control-box--surrender {
  background: var(--bg);
  border: solid 1px var(--border-primary);
  color: var(--font-primary);
}