#game-box {
  display: none;
  width: 80%;
  margin: 0 auto 0 auto;
  color: var(--font-primary);
}

.image-box {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 25rem;
  padding: 1rem .5rem .5rem .5rem;
}

.image-box img {
  min-width: 100%;
}

.result-box {
  margin: .5rem 0 .5rem 0;
}

.info-response {
  opacity: 0;
  text-align: center;
}

.secret-word {
  text-align: center;
  font-size: 3rem;
}

.control-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-box {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto auto auto;
  gap: 4px;
  padding: 0.4rem;
  width: 100%;
  max-width: 30rem;
  min-height: 7rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.btn-keyboard {
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid var(--border-primary);
  color: var(--font-primary);
}

.response {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  margin: 0 .5rem 0 .5rem;
  border-radius: 1rem;
  min-width: 150px;
  border: 3px solid var(--border-primary);
  background: var(--bg);
}

.buttons-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 67px;
  width: 100%;
}

.buttons-box button {
  margin: .5rem;
  border-radius: 1rem;
  height: 3rem;
  width: 14rem;
}

.btn-reset {
  border: 0;
  background: var(--blue);
  color: var(--font-secundary);
}

.btn-surrender {
  border: solid 1px var(--border-primary);
  color: var(--font-primary);
}