* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  --bg: #121219;
  --font-primary: #E5E5E5;
  --font-secundary: #0A3871;
  --border: #0A3871;
  --button-bg: #0A3871;

  --roxo: #8257e5;
  --red: #eb3223;
  --green: #04d361;

  background: var(--bg);
  font-family: 'Press Start 2P', cursive;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.6rem;
  border: 0;
  color: var(--font-primary);
  cursor: pointer;
}

#container {
  display: flex;
  justify-content: center;
}
