
.start-box {
  display: none; 
}

.start-menu {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 440px;
  padding: 5rem;
  background: rgba(34, 34, 34, 0.425);
}

.btn-start {
  margin: 0 0 1rem 0;
  font-size: 1.58rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 5px 5px 0px #000;
  background: var(--roxo);
}

.btn-addword {
  margin: 1rem 0 3rem 0;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 5px 5px 0px #000;
  background: var(--roxo);
}

.btn-addword:hover, .btn-start:hover {
  transition: 500ms;
  transform: scale(1.06);
}

.btn-addword:active, .btn-start:active {
  color: var(--font-secundary);
  background: var(--green);
}

.addword-menu {
  opacity: 0;
  transition: 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: #222 ;
  box-shadow: 5px 5px 0px #000;

}

.addword-menu input {
  background-color: #222;
}

.addword-text {
  border: none;
  padding: .5rem;
  width: 100%;
  color: var(--font-primary);
}

.addword-button-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btn-addword-menu {
  font-size: 1.4rem;
  width: 100%;
  padding: .5rem;
  border-radius: 0;
  background: var(--roxo);
  color: var(--font-primary);
}
.btn-addword-info {
  background: var(--blue);
  padding: .5rem;
  margin-left: 5px; 
}

.btn-addword-exit {
  background: var(--red);
  padding: .5rem;
  margin-left: 5px; 
}

.btn-addword-menu:active {
  background: var(--green);
  color: var(--bg);
}

.addword-warning {
  padding: 0.5rem;
  height: 2rem;
  width: 100%;
  color: var(--font-primary);
}

.addword-list {
  display: none;
  position: relative;
  width: 100%;
  margin-top: 5px;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1rem;
  background-color: var(--white);
}

.addword-list li {
  margin-top: 5px;
  color: #222;
}

.addword-list span {
  font-size: 1rem;
}

.addword-list p {
  position: absolute;
  right: 0;
  bottom: -9px;
  font-size: .6rem;
  color: #fff;
}
